<!DOCTYPE html>
<html>
  <head>
    <title>PyCon Finland 2011</title>
    <meta name="google-site-verification" content="0__7qP2tOZ0c8dOuPxIRGC9asT0eQ9Sir2CFb_X_IV0" />
    <link rel="stylesheet" href="/media/2011/css/main.css" type="text/css">
  </head>
  <body>
    <div id="logo">
      <img src="/media/2011/site/logo.png" alt="Logo of PyCon Finland 2011">
    </div>
    <div id="disclaimer">
      <p>We're still in process of building 2011 page. If you want, you
        can have a glimpse how things were <a href="/2010/">in
          2010</a>!</p>
    </div>
  </body>
</html>

