<!DOCTYPE html>
<html>
  <head>
    <title>PyCon Finland 2011</title>
    <meta name="google-site-verification" content="0__7qP2tOZ0c8dOuPxIRGC9asT0eQ9Sir2CFb_X_IV0" />
    <link rel="stylesheet" href="/media/2011/css/main.css" type="text/css">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <h1>PyCon Finland - A Conference for Python Hackers, by Python
      Hackers</h1>
      <span class="date">17.-18.10.2011 in Turku</span>
      <nav>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#registration">Registration</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <article id="logo">
        <img src="/media/2011/site/logo.png" alt="Logo of PyCon Finland 2011"
             title="PyCon Finland 2011">
      </article>

      <article id="about" class="green">
        <header>
          <h2>About</h2>
        </header>
        <section>
          <p><span>PyCon Finland is a non-profit conference organized by a
          non-profit organization Python Finland. It's meant for
            Python hackers and people interested in Python.</span></p>
          <p><span>Looking for PyCon 2010 site?
          It's <a href="/2010/">here</a></span></p>
        </section>
      </article>

      <article id="news" class="cyan">
        <header>
          <h2>News</h2>
        </header>
        <section>
          <span class="date">3.8.2011</span>
          <p><span>PyCon 2011 site live!<span></p>
        </section>
      </article>

      <article id="schedule" class="yellow">
        <header>
          <h2>Schedule</h2>
        </header>
        <section>
          <p><span>Conference has two days: 17.10. for talks, 18.10. for
          sprints! A proper schedule will be published soon!</span></p>
        </section>
      </article>

      <article id="registration" class="magenta">
        <header>
          <h2>Registration</h2>
        </header>
        <section>
          <p><span>Registration details will be available soon!</span></p>
        </section>
      </article>
    </div>
  </body>
</html>

