html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font: normal 12px/16px Arial, Helvetica, sans-serif;
    color: #333;
}
#target {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #eee;
    overflow: hidden;
}
#header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 40px;
    background: #000;
    text-align: center;
    color: #fff;
    display: block;
}
#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background: #fff;
    text-align: center;
}
#center {
    position: absolute;
    top: 40px;
    bottom: 79px;
    width: 100%;
    text-align: center;
}
.quarter {
    width: 50%;
    height: 50%;
    float: left;
}
.quarter .content {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}
#logo {
    width: 200px;
    height: 200px;
    background: transparent url(../img/logo.png) no-repeat center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -100px;
}
h1 {
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 20px;
}
p {
}
.littlepadding {
    padding: 10px;
}