* {
    font-family: pill-gothic-300mg-1,pill-gothic-300mg-2,sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}
html {
    background: #222 url(../site/bg.png) repeat-x;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
}

#logo img {
    display: block;
    margin: 0 auto 100px;
}

body > header {
    position: fixed;
    background: #fff;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    color: #bbb;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 20px 0 16px 10px
}

body > header > div.container {
    width: 960px;
    margin: 0 auto;
}

body > header h1 {
    font-size: 18px;
    margin: 0 0 5px 0;
}

body > header > div > a, body > header > div > a:visited,
body > header > div > a:link {
    text-decoration: none;
    color: #bbb;
}

body > header > a:hover {
    color: #555;
}

body > header > nav a:focus, body > header > nav a.focus {
    font-weight: 700;
}

body > header span.date {
    display: inline-block;
    float: left;
}

body > header nav {
    float: right;
}

body > header ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
}

body > header ul li {
    display: inline-block;
    padding-right: 45px;
}

body > header ul li a {
    text-decoration: none;
}

#disclaimer {
    position: fixed;
    bottom: 40px;
    text-align: center;
    width: 100%;
}
a, a:visited, a:link {
    color: #000;
}

.cyan p span {
    background-color: #5ff;
}
.green p span {
    background-color: #5f5;
}
.yellow p span {
    background-color: #ff5;
}
.magenta p span, .magenta li span {
    background-color: #f5f;
}

.cyan h2 {
    color: #5ff;
}
.green h2 {
    color: #5f5;
}
.yellow h2, .yellow h3 {
    color: #ff5;
}
.magenta h2 {
    color: #f5f;
}

.clear {
    clear: both;
}

div#content {
    margin-top: 140px;
}

article {
    display: block;
    margin: 0 auto;
    width: 960px;
}

article header h2 {
    letter-spacing: 3px;
    margin: 0;
    padding: 150px 0 0;
    font-size: 22px;
}

h3 {
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 0;
}

article p, article li {
    line-height: 24px;
}

article p span, article li span {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 1px 4px;
    color: #000;
}

article p a {
}


#schedule .title {
    font-size: 14px;
    letter-spacing: 2px;
}

.by {
    font-size: 10px;
}

.float {
    float: left;
    margin-right: 30px;
}

#registration {
    margin-bottom: 150px;
    position: relative;
}

#registration label, #registration form span.label,
#registration form span.price {
    line-height: 40px;
    font-size: 24px;
    color: #f5f;
    display: inline-block;
    letter-spacing: 6px;
    width: 240px;
    background: transparent;
}

#registration form span.price {
    width: 224px !important;
}

#registration label.placeholder {
    position: absolute;
    top: 1px;
    left: 10px;
    z-index: 10;
    margin-right: 0;
}

#registration .focus label.placeholder {
    opacity: 0.3;
}

#registration .input-wrapper {
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    background: none;
    padding: 0;
}

#registration input, #registration select {
    border: 1px solid #f5f;
    z-index: 1;
    background-color: #222;
    font-size: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 38px;
    color: #f5f;
    border-radius: 0;
    padding: 0 6px;
    width: 220px;
    letter-spacing: 2px;
    text-transform: none;
}

#registration form select {
    letter-spacing: 1px;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    pointer-events: auto;
    padding: 6px;
    margin-right: 20px;
}

#registration input[type=checkbox] {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid #f5f;
    border: 2px solid #222;
    background: transparent;
    -moz-appearance: normal;
}

#registration input[type=checkbox]:checked {
    background-color: #f5f;
}

#registration span.selectwrapper, #registration span.arrowwrapper {
    background: transparent;
    position: relative;
    padding: 0;
    display: inline-block;
    height: 38px;
    pointer-events: none;
}

#registration span.selectwrapper:before {
    content: "";
    height: 18px;
    width: 0;
    border-color: #222;
    border-style: solid;
    border-width: 10px;
    background-color: #222;
    position: absolute;
    right: 25px;
    top: 1px;
}

#registration span.arrowwrapper:before {
    content: "";
    height: 0;
    width: 0;
    border-color: #f5f transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    position: absolute;
    right: 32px;
    top: 15px;
    z-index: 100;
}

#registration .input-wrapper input {
    width: 206px;
}

#registration input:focus, #registration select:focus,
#registration input[type=submit]:hover {
    -webkit-box-shadow: 0 0 10px 3px #f5f;
    -moz-box-shadow: 0 0 10px 3px #f5f;
    box-shadow: 0 0 10px 3px #f5f;
    border: 1px solid #f5f;
    outline: 0;
    cursor: pointer;
}
#registration input::-webkit-input-placeholder {
    color: #f5f;
    letter-spacing: 4px;
}

#registration ul {
    list-style-type: none;
    padding: 0;
}

#registration li {
    color: #f5f;
}

#billing-details {
    display: none;
    clear: both;
}
#registration form {
    margin-top: 50px;
}
#registration input[type=submit] {
    background: #f5f;
    color: #000;
    text-transform: uppercase;
}

#registration form section {
    margin: 1em 0;
    display: block;
    vertical-align: middle;
}
#registration .checkbox {
    clear: both;
    margin-bottom: 10px;
}

#registration .checkbox p {
    margin: 0;
    line-height: 16px;
}
#registration .checkbox p span {
    background: transparent;
    color: #f5f;
    padding: 0;
    font-size: 10px;
    display: inline-block;
    width: 430px;
}
#registration .checkbox div {
    float: left;
    width: 300px
}

#registration strong {
    font-weight: 600;
}
#submit {
    white-space: nowrap;
}

#loader {
    display: none;
    color: #f5f;
    font-size: 22px;
    position: relative;
    background: transparent;
    right: 75px;
    top: -2px;
}
#loader img {
    vertical-align: middle;
}

#errorcontainer, #thankyou {
    display: none;
}
input[type=submit]:disabled {
    display: none;
}

input[type=submit]:disabled + #loader {
    display: inline;
}

input:disabled, select:disabled {
    opacity: 0.3;
}

#registration form .error {
    border-color: #f55;
    -webkit-box-shadow: 0 0 10px 3px #f55;
    -moz-box-shadow: 0 0 10px 3px #f55;
    box-shadow: 0 0 10px 3px #f55;
}

.error:focus {
    border-color: #f55;
    -webkit-box-shadow: 0 0 10px 3px #f55;
    -moz-box-shadow: 0 0 10px 3px #f55;
    box-shadow: 0 0 10px 3px #f55;
}
@-moz-document url-prefix() {
    span.checkwrapper {
        position: relative;
        pointer-events: none;
    }
    span.checkwrapper:before {
        content: "";
        height: 16px;
        width: 16px;
        border: 2px solid #222;
        position: absolute;
        right: 0;
        top: -3px;
        z-index: 100;
        background: #222;
        pointer-events: none;
    }
    input[type=checkbox]:checked + span.checkwrapper:before {
        background: #f5f;
    }
}
