html, body {
    width: 320px;
    overflow-x: hidden;
}

body > header {
    font-size: 14px;
    padding: 5px 0;
}

#socials {
    display: none;
}
article {
    margin: 0;
    width: 320px;
}

#main-header > h1 {
    font-size: 14px;
}

body > header > div.container {
    width: 320px;
}

nav {
    float: none;
}
nav > ul > li {
    padding-left: 10px;
}

nav > ul > li:before {
    left: -10px;
}

#logo {
    height: 400px;
}

#logo-date, #logo-yellow, #logo-cyan, #logo-location {
    display: none;
}

#logo > #logo-main {
    width: 320px;
    margin: 0 auto !important;
    left: 0;
    position: relative;
}

article p, article li {
    width: 310px;
    padding: 5px;
}

.cyan p {
    background-color: #5ff;
}
.green p {
    background-color: #5f5;
}
.yellow p {
    background-color: #ff5;
}
.magenta p, .magenta li {
    background-color: #f5f;
}
p br {
    display: none;
}

#schedule p.float br {
    display: block;
}

.float {
    float: none;
    margin-right: 0;
}

article header h2 {
    padding: 40px 0 0;
    font-size: 24px;
}

article ul {
    padding-left: 10px;
}
article ul li {
    list-display-type: none;
}

article p span, article li span {
    padding-right: 0;
    padding-left: 0;
}

#registration .input-wrapper, #registration form select {
    display: block;
    margin-bottom: 20px;
}

#registration form #additional.input-wrapper input {
    width: 300px;
}
#registration form #additional.input-wrapper label {
    width: 310px;
    font-size: 10px;
}
#registration .checkbox p span {
    display: block;
    width: 300px;
    color: black;
}

#registration .checkbox p span br {
    display: none;
}
#registration .checkbox div {
    float: none;
    width: 300px
}

#submit {
    width: 300px;
    background-color: transparent;
}
#registration input[type=submit] {
    display: block;
}

#sponsors {
    width: 320px;
    text-align: center;
}

#sponsors > .row {
    width: 320px;
}

#sponsors > .last-row {
    width: 320px;
}
#registration form span.label {
    width: 200px;
}

#registration form span.price {
    width: 120px;
}
